.carousel{
    width: 600px;
    height: 400px;
    margin: 3rem auto;
}

.carousel img{
    width: 100%;
    height: 100%;
}

.modal-overlay{
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.modal-content{
    background-color: white;
    width: 500px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 1rem;
}